# Sets in Python

## Creating a Set

In [ ]:
# Using Curly Braces {}
my_set = {1, 2, 3, 4, 5}


# Using the set() Constructor:
my_set = set([1, 2, 3, 4, 5])

## Set Methods

### add()
Adds a single element to the set.

In [ ]:
my_set.add(6)

### update()
Add multiple elements to the set.

In [ ]:
my_set.update([7, 8, 9])

### remove()
Removes a specified element from the set. Raises a KeyError if the element is not found.

In [ ]:
my_set.remove(5)

### discard()
Removes a specified element from the set if it is present.

In [ ]:
my_set.discard(5)

### pop()
Removes and returns an arbitrary element from the set.

In [ ]:
popped_element = my_set.pop()

### clear()
Removes all the elements from the set.

In [ ]:
my_set.clear()

### copy()
Returns a shallow copy of the set.

In [ ]:
new_set = my_set.copy()

### union()
Returns a new set containing all the distinct elements from both sets.

In [ ]:
other_set = {3, 4, 5}
union_set = my_set.union(other_set)

### intersection()
Returns a new set containing elements that are present in both sets.

In [ ]:
intersection_set = my_set.intersection(other_set)

### difference()
Returns a new set containing elements that are present in the first set but not in the second set.

In [ ]:
difference_set = my_set.difference(other_set)

## Membership Testing in Set

In [ ]:
# Define a set
my_set = {1, 2, 3, 4, 5}

# Check if an element is present in the set
print(3 in my_set)  # Output: True
print(6 in my_set)  # Output: False

# Using membership testing in conditional statements
if 4 in my_set:
    print("4 is present in the set")
else:
    print("4 is not present in the set")

# Membership testing with strings
word_set = {"apple", "banana", "orange"}
print("apple" in word_set)  # Output: True
print("grape" in word_set)  # Output: False

# Using membership testing with loops
for num in range(1, 6):
    if num in my_set:
        print(f"{num} is present in the set")
    else:
        print(f"{num} is not present in the set")

True
False
4 is present in the set
True
False
1 is present in the set
2 is present in the set
3 is present in the set
4 is present in the set
5 is present in the set

In [ ]:
# Define sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Check if all elements of one set are present in another
print(set1.issubset(set2))  # Output: False
print(set2.issubset(set1))  # Output: False

# Check if at least one element of a set is present in another
print(set1.isdisjoint(set2))  # Output: False

# Check if a set is a superset of another
print(set1.issuperset({1, 2}))  # Output: True

# Membership testing with complex data types
student_set = {"John", "Alice", "Bob", "Eve"}
print("John" in student_set)  # Output: True
print("Mia" in student_set)   # Output: False

# Membership testing with tuples
tuple_set = {(1, 2), (3, 4), (5, 6)}
print((1, 2) in tuple_set)  # Output: True
print((2, 3) in tuple_set)  # Output: False

# Using membership testing with nested sets
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print(frozenset({1, 2}) in nested_set)  # Output: True
print(frozenset({5, 6}) in nested_set)  # Output: False

False
False
False
True
True
False
True
False
True
False

## Iterating over a Set

### Using a for loop

In [ ]:
# Define a set
my_set = {1, 2, 3, 4, 5}

# Iterating over the set using a for loop
for element in my_set:
    print(element)

1
2
3
4
5

### Using set Comprehension

In [ ]:
# Define a set
my_set = {1, 2, 3, 4, 5}

# Using set comprehension to iterate over the set
result = {x for x in my_set}
print(result)

{1, 2, 3, 4, 5}

### Using the `iter()` and `next()` Functions

In [ ]:
# Define a set
my_set = {1, 2, 3, 4, 5}

# Creating an iterator object
iterator = iter(my_set)

# Iterating over the set using next() function
try:
    while True:
        element = next(iterator)
        print(element)
except StopIteration:
    pass

1
2
3
4
5

### Using the enumerate() Function

In [ ]:
# Define a set
my_set = {1, 2, 3, 4, 5}

# Using enumerate() to iterate over the set
for index, element in enumerate(my_set):
    print(f"Index: {index}, Element: {element}")

Index: 0, Element: 1
Index: 1, Element: 2
Index: 2, Element: 3
Index: 3, Element: 4
Index: 4, Element: 5

### Using a While loop

In [ ]:
# Define a set
my_set = {1, 2, 3, 4, 5}

# Iterating over the set using a while loop
iterator = iter(my_set)
while True:
    try:
        element = next(iterator)
        print(element)
    except StopIteration:
        break

1
2
3
4
5

# Dictionaries in Python

## Creating a Dictionary

In [ ]:
# Creating a dictionary with key-value pairs
my_dict = {'a': 1, 'b': 2, 'c': 3}


# Creating a dictionary using the dict() constructor
another_dict = dict([('x', 1), ('y', 2), ('z', 3)])

## Dictionary Membership Testing

In [ ]:
# Check if a key is present in the dictionary
print('a' in my_dict)
print('d' in my_dict)

True
False

## Dictionary Methods

### get()

In [ ]:
# Retrieving value associated with a key
print(my_dict.get('a'))  # Output: 1
print(my_dict.get('d', 'Key not found'))  # Output: Key not found

### update()

In [ ]:
# Adding or updating elements in the dictionary
my_dict.update({'d': 4, 'e': 5})
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

### pop()

In [ ]:
# Removing and returning an element from the dictionary
removed_value = my_dict.pop('a')
print(removed_value)  # Output: 1
print(my_dict)  # Output: {'b': 2, 'c': 3, 'd': 4, 'e': 5}

### clear()

In [ ]:
# Clearing all elements from the dictionary
my_dict.clear()
print(my_dict)  # Output: {}

In [ ]:
# Define a dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Check membership
print('b' in my_dict)  # Output: True

# Iterate over items
for key, value in my_dict.items():
    print(key, "->", value)

# Update dictionary
my_dict.update({'d': 4})
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

## Dictionary Iteration

### Iterating Over Keys

In [ ]:
# Iterating over keys
for key in my_dict:
    print(key, "->", my_dict[key])

a -> 1
b -> 2
c -> 3

### Iterating Over Items (Key-Value Pairs)

In [ ]:
# Iterating over items (key-value pairs)
for key, value in my_dict.items():
    print(key, "->", value)

a -> 1
b -> 2
c -> 3

### Iterating Over Values

In [ ]:
# Iterating over values
for value in my_dict.values():
    print(value)

## Nested Dictionary

In [ ]:
# Creating a nested dictionary
nested_dict = {
    'person1': {'name': 'Alice', 'age': 30},
    'person2': {'name': 'Bob', 'age': 25}
}


# Accessing values in a nested dictionary
print(nested_dict['person1']['name'])  # Output: Alice
print(nested_dict['person2']['age'])   # Output: 25


# Modifying values in a nested dictionary
nested_dict['person1']['age'] = 35
print(nested_dict['person1'])  # Output: {'name': 'Alice', 'age': 35}


# Adding elements to a nested dictionary
nested_dict['person3'] = {'name': 'Charlie', 'age': 40}
print(nested_dict['person3'])  # Output: {'name': 'Charlie', 'age': 40}


# Iterating over a nested dictionary
for person, details in nested_dict.items():
    print("Person:", person)
    for key, value in details.items():
        print(key + ":", value)
    print()


# Nested dictionary with lists
nested_dict_with_list = {
    'person1': {'name': 'Alice', 'languages': ['Python', 'Java']},
    'person2': {'name': 'Bob', 'languages': ['C++', 'JavaScript']}
}

# Accessing list elements in a nested dictionary
print(nested_dict_with_list['person1']['languages'][0])  # Output: Python

# Lambda Functions

## Syntax

In [ ]:
lambda arguments: expression

## Simple Addition

In [ ]:
# Define a lambda function to add two numbers
add = lambda x, y: x + y

# Call the lambda function
result = add(5, 3)
print(result)  # Output: 8

## Finding Square of a Number

In [ ]:
# Define a lambda function to find the square of a number
square = lambda x: x ** 2

# Call the lambda function
result = square(4)
print(result)  # Output: 16

## Sorting a List of Tuples

In [ ]:
# Define a list of tuples
pairs = [(1, 'one'), (3, 'three'), (2, 'two'), (4, 'four')]

# Sort the list of tuples based on the first element using a lambda function
pairs.sort(key=lambda x: x[0])

print(pairs)  # Output: [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

## Filter Even Numbers from a List

In [ ]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use a lambda function with filter() to filter even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)  # Output: [2, 4, 6, 8, 10]

## Mapping a List of Numbers

In [ ]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use a lambda function with map() to square each number in the list
squared_numbers = list(map(lambda x: x ** 2, numbers))

print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

# `map()` Function

## Syntax

In [ ]:
map(function, iterable)

## Squaring Numbers in a List

In [ ]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use map() to square each number in the list
squared_numbers = map(lambda x: x ** 2, numbers)

# Convert the map object to a list
squared_numbers_list = list(squared_numbers)

print(squared_numbers_list)  # Output: [1, 4, 9, 16, 25]

## Converting Fahrenheit to Celsius

In [ ]:
# Define a list of temperatures in Fahrenheit
fahrenheit_temps = [32, 68, 86, 104]

# Use map() to convert each temperature to Celsius
celsius_temps = map(lambda f: (f - 32) * 5/9, fahrenheit_temps)

# Convert the map object to a list
celsius_temps_list = list(celsius_temps)

print(celsius_temps_list)  # Output: [0.0, 20.0, 30.0, 40.0]

## Capitalizing Strings in a List

In [ ]:
# Define a list of strings
strings = ['apple', 'banana', 'cherry']

# Use map() to capitalize each string in the list
capitalized_strings = map(str.capitalize, strings)

# Convert the map object to a list
capitalized_strings_list = list(capitalized_strings)

print(capitalized_strings_list)  # Output: ['Apple', 'Banana', 'Cherry']

## Calculating Length of Strings in a List

In [ ]:
# Define a list of strings
strings = ['apple', 'banana', 'cherry']

# Use map() to calculate the length of each string in the list
lengths = map(len, strings)

# Convert the map object to a list
lengths_list = list(lengths)

print(lengths_list)  # Output: [5, 6, 6]

## Mapping with Multiple Iterables

In [ ]:
# Define two lists of numbers
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

# Use map() to add corresponding elements of both lists
sums = map(lambda x, y: x + y, numbers1, numbers2)

# Convert the map object to a list
sums_list = list(sums)

print(sums_list)  # Output: [5, 7, 9]

# `filter()` Function

## Syntax

In [ ]:
filter(function, iterable)

## Filtering Even Numbers

In [ ]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use filter() to keep only even numbers
even_numbers = filter(lambda x: x % 2 == 0, numbers)

# Convert the filter object to a list
even_numbers_list = list(even_numbers)

print(even_numbers_list)  # Output: [2, 4, 6, 8, 10]

## Filtering Strings with Length Greater Than 3

In [ ]:
# Define a list of strings
strings = ['apple', 'banana', 'cherry', 'pear', 'grape']

# Use filter() to keep only strings with length greater than 3
filtered_strings = filter(lambda x: len(x) > 3, strings)

# Convert the filter object to a list
filtered_strings_list = list(filtered_strings)

print(filtered_strings_list)  # Output: ['apple', 'banana', 'cherry', 'grape']

## Filtering Positive Numbers

In [ ]:
# Define a list of numbers
numbers = [-1, 2, -3, 4, -5, 6, -7, 8, -9, 10]

# Use filter() to keep only positive numbers
positive_numbers = filter(lambda x: x > 0, numbers)

# Convert the filter object to a list
positive_numbers_list = list(positive_numbers)

print(positive_numbers_list)  # Output: [2, 4, 6, 8, 10]

## Removing None Values from a List

In [ ]:
# Define a list with None values
values = [1, None, 2, None, 3, None]

# Use filter() to remove None values
filtered_values = filter(lambda x: x is not None, values)

# Convert the filter object to a list
filtered_values_list = list(filtered_values)

print(filtered_values_list)  # Output: [1, 2, 3]

## Filtering using a Custom Function

In [ ]:
# Define a custom function to filter strings starting with 'a'
def starts_with_a(s):
    return s.startswith('a')

# Define a list of strings
strings = ['apple', 'banana', 'cherry', 'apricot', 'grape']

# Use filter() with the custom function
filtered_strings = filter(starts_with_a, strings)

# Convert the filter object to a list
filtered_strings_list = list(filtered_strings)

print(filtered_strings_list)  # Output: ['apple', 'apricot']

# `reduce()` Function

## Syntax

In [ ]:
functools.reduce(function, iterable[, initializer])

## Summing Numbers in a List

In [ ]:
from functools import reduce

# Define a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use reduce() to calculate the sum of the numbers
sum_of_numbers = reduce(lambda x, y: x + y, numbers)

print(sum_of_numbers)  # Output: 15 (1 + 2 + 3 + 4 + 5)

## Finding Maximum Number in a List

In [ ]:
from functools import reduce

# Define a list of numbers
numbers = [3, 1, 7, 5, 9, 2]

# Use reduce() to find the maximum number
max_number = reduce(lambda x, y: x if x > y else y, numbers)

print(max_number)  # Output: 9

## Concatenating Strings in a List

In [ ]:
from functools import reduce

# Define a list of strings
strings = ['hello', 'world', 'this', 'is', 'python']

# Use reduce() to concatenate the strings
concatenated_string = reduce(lambda x, y: x + ' ' + y, strings)

print(concatenated_string)  # Output: hello world this is python

## Removing None Values from a List

In [ ]:
# Define a list with None values
values = [1, None, 2, None, 3, None]

# Use filter() to remove None values
filtered_values = filter(lambda x: x is not None, values)

# Convert the filter object to a list
filtered_values_list = list(filtered_values)

print(filtered_values_list)  # Output: [1, 2, 3]

## Computing Factorial of a Number

In [ ]:
from functools import reduce

# Define a number
n = 5

# Use reduce() to calculate the factorial of the number
factorial = reduce(lambda x, y: x * y, range(1, n + 1))

print(factorial)  # Output: 120 (5 * 4 * 3 * 2 * 1)

## Performing Custom Rolling Computation

In [ ]:
from functools import reduce

# Define a list of numbers
numbers = [10, 20, 30, 40, 50]

# Use reduce() to perform custom rolling computation
result = reduce(lambda x, y: (x[0] + y, y), numbers, (0, 0))

print(result)  # Output: (150, 50)

# Scope of Variables

## Local Scope

In [ ]:
def my_function():
    # Variable 'x' is defined within the function
    x = 10
    print("Inside my_function:", x)

# Call the function
my_function()

# Attempting to access 'x' outside the function will result in a NameError
# print("Outside my_function:", x)

## Enclosing (Nonlocal) Scope

In [ ]:
def outer_function():
    x = 10  # Variable in the enclosing scope

    def inner_function():
        nonlocal x  # Accessing variable 'x' from the enclosing scope
        x += 5
        print("Inside inner_function:", x)

    inner_function()  # Call the inner function

    print("Outside inner_function:", x)  # 'x' modified in the inner function

# Call the outer function
outer_function()

## Global Scope

In [ ]:
# Variable 'x' is defined in the global scope
x = 10

def my_function():
    print("Inside my_function:", x)  # Accessing 'x' from the global scope

# Call the function
my_function()

print("Outside my_function:", x)  # 'x' accessible outside the function

## Modifying Global Variable Inside Function

In [ ]:
x = 10  # Define a global variable

def modify_global():
    global x  # Declare 'x' as global within the function
    x += 5
    print("Inside modify_global:", x)

# Call the function to modify the global variable
modify_global()

print("Outside modify_global:", x)  # 'x' has been modified globally

# Call By Value

In [ ]:
def increment(x):
    x += 1
    print("Inside function:", x)

# Define a variable
num = 10

# Call the function
increment(num)

print("Outside function:", num)  # Original value remains unchanged

Inside function: 11
Outside function: 10

# Call by Reference

In [ ]:
def append_element(lst):
    lst.append(4)
    print("Inside function:", lst)

# Define a list
my_list = [1, 2, 3]

# Call the function
append_element(my_list)

print("Outside function:", my_list)  # Original list is modified

Inside function: [1, 2, 3, 4]
Outside function: [1, 2, 3, 4]

# Coding Examples

## Word Frequency Analysis

Problem Statement:
You are given a list of sentences. Your task is to perform a word frequency analysis and answer various queries related to the words in the sentences.

Requirements:
1. Create a function `word_frequency(sentences)` that takes a list of sentences as input and returns a dictionary where keys are unique words and values are their respective frequencies in the sentences.

2. Implement a function `most_frequent_words(word_freq_dict, n)` that takes the word frequency dictionary and an integer n as input and returns a list of the top n most frequent words.

3. Write a function `word_length_distribution(sentences)` that returns a dictionary where keys are word lengths, and values are the count of words of that length.

4. Create a function `filter_words_by_length(word_freq_dict, length)` that takes the word frequency dictionary and a length as input, and returns a dictionary containing only the words of the specified length.

5. Implement a function `total_word_count(sentences)` that returns the total number of words in all the sentences."

In [ ]:

def word_frequency(sentences):
    freq_dict = {}
    for sentence in sentences:
        words = sentence.lower().split()
        for word in words:
            freq_dict[word] = freq_dict.get(word, 0) + 1
    return freq_dict

def most_frequent_words(word_freq_dict, n):
    sorted_words = sorted(word_freq_dict.items(), key=lambda x: x[1], reverse=True)
    return [word[0] for word in sorted_words[:n]]

def word_length_distribution(sentences):
    length_distribution = {}
    for sentence in sentences:
        words = sentence.lower().split()
        for word in words:
            length_distribution[len(word)] = length_distribution.get(len(word), 0) + 1
    return length_distribution

def filter_words_by_length(word_freq_dict, length):
    return {word: freq for word, freq in word_freq_dict.items() if len(word) == length}

def total_word_count(sentences):
    total_count = 0
    for sentence in sentences:
        words = sentence.lower().split()
        total_count += len(words)
    return total_count

# Example usage:
sentences = [
    "Hello, how are you?",
    "I'm doing fine, thank you!",
    "Python is a powerful language.",
    "I love programming in Python!"
]

word_freq_dict = word_frequency(sentences)
print("Word Frequency:", word_freq_dict)

top_words = most_frequent_words(word_freq_dict, 3)
print("Top 3 Most Frequent Words:", top_words)

word_length_dist = word_length_distribution(sentences)
print("Word Length Distribution:", word_length_dist)

filtered_words = filter_words_by_length(word_freq_dict, 5)
print("Words with Length 5:", filtered_words)

total_count = total_word_count(sentences)
print("Total Word Count:", total_count)

Word Frequency: {'hello,': 1, 'how': 1, 'are': 1, 'you?': 1, "i'm": 1, 'doing': 1, 'fine,': 1, 'thank': 1, 'you!': 1, 'python': 1, 'is': 1, 'a': 1, 'powerful': 1, 'language.': 1, 'i': 1, 'love': 1, 'programming': 1, 'in': 1, 'python!': 1}
Top 3 Most Frequent Words: ['hello,', 'how', 'are']
Word Length Distribution: {6: 2, 3: 3, 4: 3, 5: 3, 2: 2, 1: 2, 8: 1, 9: 1, 11: 1, 7: 1}
Words with Length 5: {'doing': 1, 'fine,': 1, 'thank': 1}
Total Word Count: 19

## Student Performance Analysis


Problem Statement: You are provided with a list of dictionaries representing students' performance in different subjects. Each dictionary contains the student's name, a list of subject scores, and an overall average.



```
students_data = [
    {"name": "Alice", "scores": [90, 85, 92], "average": 0},
    {"name": "Bob", "scores": [78, 80, 85], "average": 0},
    {"name": "Charlie", "scores": [95, 88, 91], "average": 0},
    # ... (additional student data)
]
```



Subproblems:
1. Calculate Averages: Write a function `calculate_averages(students_data)` that calculates the overall average for each student and updates the "average" key in each dictionary.

2. Top Performing Students: Implement a function `top_performers(students_data, n)` that takes the student data and an integer n as input, and returns a list of the top n performing students based on their overall averages.

3. Subject-wise Average: Write a function `subject_wise_average(students_data)` that returns a dictionary where keys are subjects, and values are the average scores for that subject across all students.

4. Lambda and Filtering: Use a lambda function and the filter function to create a list of students who scored above a certain threshold (e.g., overall average > 85).

5. Highest Scorer in a Subject: Create a function `highest_scorer_subject(students_data, subject)` that takes the student data and a subject name as input and returns the student with the highest score in that subject.

6. Subject-wise Improvement: Implement a function `subject_wise_improvement(students_data, subject)` that takes the student data and a subject name as input and returns a list of students who improved their scores in that subject compared to the previous evaluation.

In [ ]:
students_data = [
    {"name": "Alice", "scores": [90, 85, 92], "average": 0},
    {"name": "Bob", "scores": [78, 80, 85], "average": 0},
    {"name": "Charlie", "scores": [95, 88, 91], "average": 0},
    # ... (additional student data)
]

# 1. Calculate Averages
def calculate_averages(students_data):
    for student in students_data:
        student["average"] = sum(student["scores"]) / len(student["scores"])

# 2. Top Performing Students
def top_performers(students_data, n):
    sorted_students = sorted(students_data, key=lambda x: x["average"], reverse=True)
    return sorted_students[:n]

# 3. Subject-wise Average
def subject_wise_average(students_data):
    subject_avg = {}
    for student in students_data:
        for i, score in enumerate(student["scores"]):
            subject = f"Subject_{i+1}"
            subject_avg[subject] = subject_avg.get(subject, 0) + score
    for subject, total_score in subject_avg.items():
        subject_avg[subject] = total_score / len(students_data)
    return subject_avg

# 4. Lambda and Filtering
def above_threshold_students(students_data, threshold):
    return list(filter(lambda x: x["average"] > threshold, students_data))

# 5. Highest Scorer in a Subject
def highest_scorer_subject(students_data, subject):
    scores_in_subject = []
    for student in students_data:
        subject_index = int(subject.split("_")[1]) - 1
        scores_in_subject.append((student["name"], student["scores"][subject_index]))
    return max(scores_in_subject, key=lambda x: x[1])[0]

# 6. Subject-wise Improvement
def subject_wise_improvement(students_data, subject):
    subject_index = int(subject.split("_")[1]) - 1
    improved_students = []
    for student in students_data:
        if len(student["scores"]) > 1 and student["scores"][subject_index] > student["scores"][subject_index - 1]:
            improved_students.append(student["name"])
    return improved_students

# Example usage:
calculate_averages(students_data)
print("Updated Student Data:", students_data)

print("Top Performers:", top_performers(students_data, 2))

print("Subject-wise Average:", subject_wise_average(students_data))

print("Students with Overall Average > 85:", above_threshold_students(students_data, 85))

print("Highest Scorer in Subject 2:", highest_scorer_subject(students_data, "Subject_2"))

print("Students who Improved in Subject 3:", subject_wise_improvement(students_data, "Subject_3"))

Updated Student Data: [{'name': 'Alice', 'scores': [90, 85, 92], 'average': 89.0}, {'name': 'Bob', 'scores': [78, 80, 85], 'average': 81.0}, {'name': 'Charlie', 'scores': [95, 88, 91], 'average': 91.33333333333333}]
Top Performers: [{'name': 'Charlie', 'scores': [95, 88, 91], 'average': 91.33333333333333}, {'name': 'Alice', 'scores': [90, 85, 92], 'average': 89.0}]
Subject-wise Average: {'Subject_1': 87.66666666666667, 'Subject_2': 84.33333333333333, 'Subject_3': 89.33333333333333}
Students with Overall Average > 85: [{'name': 'Alice', 'scores': [90, 85, 92], 'average': 89.0}, {'name': 'Charlie', 'scores': [95, 88, 91], 'average': 91.33333333333333}]
Highest Scorer in Subject 2: Charlie
Students who Improved in Subject 3: ['Alice', 'Bob', 'Charlie']